<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>QTY</th>
      <th>PACK</th>
      <th>TRUCK</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let room of rooms">
      <tr>
        <td style="font-weight:bold;">{{ room.name }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let item of room.items">
        <td>{{ item }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </ng-container>
  </tbody>
</table>
