<div class="head">
  <p>{{ moveListInput.key }} Move List</p>
  <p>3 floor - elevator - park on 2nd Ave in front of building</p>
</div>
<div class="row">
  <div class="col-6">
    <table>
      <thead>
        <tr>
          <th>Room</th>
          <th>QTY</th>
          <th>PACK</th>
          <th>TRUCK</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let room of moveListInput.rooms | slice:0:moveListInput.rooms.length/2">
          <tr>
            <td style="font-weight:bold;">{{ room.name }}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let item of room.items">
            <td>{{ item.name }}{{ item.comments ? ' (' + item.comments + ')' : '' }}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <table>
      <thead>
        <tr>
          <th>Room</th>
          <th>QTY</th>
          <th>PACK</th>
          <th>TRUCK</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let room of moveListInput.rooms | slice:moveListInput.rooms.length/2">
          <tr>
            <td style="font-weight:bold;">{{ room.name }}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let item of room.items">
            <td>{{ item.name }}{{ item.comments ? ' (' + item.comments + ')' : '' }}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
<div class="foot">
  <p>Hi-lite items we don't have</p>
  <p>If you substitute/change/add any item, please note</p>
  <p>Make sure to enter quantities of items given</p>
  <p>
    Please check ALL sheets wrapped in plastic for size accuracy and
    completeness. Please give pillows for each family member based on bed size,
    2 for queen/full and 1 for twin. Note total number on sheet.
  </p>
  <p>
    Check "Free" shelves for items to include and note on this sheet. Thank you.
  </p>
</div>
