<h1 mat-dialog-title>{{ item.name }} Detail</h1>
<div
  mat-dialog-content
  *ngFor="let attribute of item.attributes; let i = index"
>
  <div class="row">
    <div class="col-6">
      <bsd-checkbox [ngModel]="false" label="attribute"></bsd-checkbox>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <bsd-text-area label="Notes/Comments"></bsd-text-area>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close>Add</button>
</div>
