<div class="row actions" *ngIf="!started">
  <div class="col-10">
    <bsd-text-input
      label="Family Name"
      [(ngModel)]="familyName"
      (keyup.enter)="start()"
    ></bsd-text-input>
  </div>
  <div class="col-2">
    <button mat-flat-button color="primary" (click)="start()">Start</button>
  </div>
</div>
<div class="head" *ngIf="started">Walkthrough for {{ familyName }}</div>
<mat-list *ngIf="started">
  <ng-container *ngFor="let room of rooms">
    <h3 mat-subheader>
      <div class="col-12">
        <input matInput [(ngModel)]="room.name" />
      </div>
      <button mat-icon-button class="add" (click)="addRoom(room)">
        <mat-icon>add_circle</mat-icon>
      </button>
    </h3>
    <mat-list-item
      *ngFor="let item of room.items; let i = index"
      (click)="openDetail(item)"
      [class.selected]="item.selected"
      [class.last]="i === room.items.length - 1"
    >
      <h4 mat-line>{{ item.name }}</h4>
      <mat-icon *ngIf="item.selected" class="selected">check_circle</mat-icon>
      <p
        matLine
        *ngIf="
          item.selected &&
          (item.hasAttributesSelected() ||
            (item.comments && item.comments.length > 0))
        "
      >
        {{ item.comments }} {{ item.selectedAttributes() }}
      </p>
    </mat-list-item>
  </ng-container>
</mat-list>

<button
  color="primary"
  mat-flat-button
  style="width:100%;margin-top:2em;"
  *ngIf="started"
  (click)="complete()"
>
  Complete Walkthrough
</button>
