<mat-list>
  <h3 mat-subheader>Family Room</h3>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Loveseat</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Futon</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Side Chair</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Side Table</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Coffee Table</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>TV Stand</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Entertainment Center</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Kitchen</h3>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Dining Table</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Dining Chairs</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Bar Stools</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Bathroom</h3>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Shower Curtain</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Towels</h4>
  </mat-list-item>
  <mat-list-item (click)="openDetail()">
    <h4 mat-line>Rod</h4>
  </mat-list-item>
</mat-list>
