<mat-toolbar color="primary" *ngIf="authService.isLoggedIn">
  <mat-toolbar-row>
    <span>Furnishing Dignity</span>

    <button mat-button (click)="goHome()">Home</button>
    <button mat-button (click)="startWalkthrough()">Start Walkthrough</button>
    <button mat-button (click)="checkIfOnline()">Check If Online</button>

    <div class="right">
      <a
        mat-button
        *ngIf="authService.isLoggedIn"
        href="https://console.firebase.google.com/u/1/project/helpcamp2019/authentication/users"
        target="_blank"
        >Manage Users</a
      >
      <button
        *ngIf="authService.isLoggedIn"
        mat-button
        (click)="authService.logout()"
      >
        Logout
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container" style="padding-top:2em;">
  <router-outlet></router-outlet>
</div>
