@import "../assets/styles/imports/variables";

.mat-button {
  color: $gray200;
}

.right {
  position: absolute;
  right: 0;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hide {
  display: none;
}

@media print {
  .mat-toolbar {
    display: none;
  }

  .sidenav {
    display: none;
  }
}
