@import '../../../assets/styles/bootstrap/mixins/breakpoints';
@import '../../../assets/styles/imports/mixins';
@import '../../../assets/styles/imports/variables';

.radioset {
  margin-bottom: rem-calc(24px);

  .label {
    display: block;
    width: 100%;
    margin-bottom: rem-calc(4px);
    margin-left: rem-calc(10px);
    color: $input-label-color;
    font-size: rem-calc(16px);
    font-weight: $input-label-font-weight;
    line-height: 22px;
    text-transform: none;
  }

  .radio {
    display: inline-block;
    margin-bottom: 0;
    margin-left: rem-calc(10px);

    .radio__button,
    .radio__button.hover,
    .radio__button:hover {
      @include radius(9px);
      -webkit-appearance: none;
      border: 1px solid $input-border-color;
      width: 18px;
      height: 18px;
      margin: rem-calc(11px) 0;
      vertical-align: top;
      cursor: pointer;
    }

    .radio__button:checked {
      background: $gray900 url("data:image/svg+xml,%3Csvg%20width%3D%2218px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2018%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2048.2%20%2847327%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Desktop%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Artboard-Copy-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20fill%3D%22%23212121%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2218%22%20height%3D%2218%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Container%22%20fill%3D%22%23EEEEEE%22%20x%3D%224.5%22%20y%3D%224.5%22%20width%3D%229%22%20height%3D%229%22%20rx%3D%224.5%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E") no-repeat;
      background-size: 18px 18px;
      background-position: 50% 50%;
      border-color: $accent-color !important;

      + .radio__label {
        color: $gray900;
      }
    }

    .radio__button:focus {
      border-color: $input-border-color-hovered;
      outline: 0;
    }

    .radio__label {
      @include transition(color);
      margin-right: rem-calc(20px);
      padding-left: rem-calc(4px);
      color: $radio-checkbox-text-color;
      font-size: rem-calc(16px);
      font-weight: $input-label-font-weight;
      line-height: rem-calc(40px);
      cursor: pointer;

      &.invalid-answer{
        color: $alert-color !important;
      }

      &:hover {
        color: $gray200;
      }
    }

    &:last-child {
      .radio__label {
        margin-right: 0;
      }
    }
  }

  &.read-only {
    .radio {
      margin-left: 0;

      .radio__button {
        display: none;

        + .radio__label {
          display: none;
        }
      }
      .radio__button:checked + .radio__label {
        display: inline-block;
        margin-left: rem-calc(10px);
        padding-left: 0;
        color: $gray200;
      }
    }
  }
}

:host-context(.custom-checkbox-wrapper) {
  .radioset {
    margin-bottom: rem-calc(24px);

    @include media-breakpoint-up(md) {
      @include clearfix;
    }

    @media (max-width: 767px) {
      margin-right: rem-calc(-20px);
      margin-left: rem-calc(-20px);
      padding-right: rem-calc(20px);
      padding-left: rem-calc(20px);
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }

    &::-webkit-scrollbar-thumb { border: 4px solid $white; }
    &::-webkit-scrollbar-track { background: $white; }

    .radio {
      position: relative;
      width: auto;
      margin-bottom: rem-calc(10px);
      margin-left: 0;
      cursor: pointer;

      @media (max-width: 767px) {
        margin-left: rem-calc(10px);

        &:first-child {
          margin-left: 0;
        }
      }
      @include media-breakpoint-up(md) {
        float: left;
        clear: both;
      }

      &:hover,
      &:focus {
        .radio__label {
          color: $accent-color;
        }
      }

      .radio__button,
      .radio__button.hover,
      .radio__button:hover {
        @include radius(9px);
        position: absolute;
        top: 0;
        left: 0;
        -webkit-appearance: none;
        border: 1px solid $border-color;
        width: 18px;
        height: 18px;
        margin: rem-calc(11px) 0;
        vertical-align: top;
        opacity: 0;
        z-index: 0;
      }

      .radio__button:checked {
        background: $white url("data:image/svg+xml,%3Csvg%20width%3D%2218px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2018%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2048.2%20%2847327%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Desktop%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Artboard-Copy-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20fill%3D%22%23FFFFFF%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2218%22%20height%3D%2218%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Container%22%20fill%3D%22%2349C5B6%22%20x%3D%224.5%22%20y%3D%224.5%22%20width%3D%229%22%20height%3D%229%22%20rx%3D%224.5%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E") no-repeat;
        background-size: 18px 18px;
        background-position: 50% 50%;
        border-color: $accent-color !important;

        + .radio__label {
          width: 100%;
          padding-right: rem-calc(14px);
          padding-left: rem-calc(14px);
          color: $white;
          background: $primary-color;
          border: 1px solid $primary-color;

          @media (max-width: 767px) {
            border-color: $primary-color;
          }
        }
      }

      .radio__button:focus {
        border-color: $primary-color;
        outline: 0;
      }

      .radio__label {
        @include transition(all);
        @include radius(2px);
        display: inline-block;
        position: relative;
        width: auto;
        margin-right: 0;
        padding: rem-calc(5px) 0;
        color: $body-font-color-light;
        font-size: rem-calc(14px);
        font-weight: $input-label-font-weight;
        line-height: rem-calc(18px);
        border: 1px solid transparent;

        @media (max-width: 767px) {
          padding: rem-calc(8px) rem-calc(16px);
          border: 1px solid $border-color;
        }

        &:hover {
          color: $primary-color;
        }
      }

      &:last-child {
        .radio__label {
          margin-right: 0;
        }
      }
    }
  }
}
