/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/bootstrap/mixins/breakpoints";
@import "./assets/styles/imports/mixins";
@import "./assets/styles/imports/variables";
@import "./assets/styles/imports/flatpickr-overrides";
@import "./assets/styles/imports/material-button-overrides";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $body-font-family;
  background: $app-background-color;

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: $heading-font-family;
    font-weight: 400;
  }

  p {
    font-size: rem-calc(16px);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: rem-calc(24px);
    line-height: rem-calc(24px);
    color: $body-font-color;
  }

  hr {
    border-top-color: $border-color;
  }
}

// Base subtitle styling
h6.subtitle {
  margin-bottom: rem-calc(12px);
  color: $gray400;
  font-family: $body-font-family;
  font-size: rem-calc(14px);
  font-weight: 700;
  line-height: rem-calc(26px);
  text-transform: uppercase;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

// Default row for the end of forms
.submit-row {
  display: block;
  width: 100%;
  margin-top: rem-calc(30px);
  padding: rem-calc(15px) rem-calc(8px);
  border-top: 1px solid $border-color;
  font-size: 0;
  text-align: right;

  button {
    margin-right: rem-calc(15px);

    &:last-child {
      margin-right: 0;
    }
  }
}

// Default placeholder color
::placeholder {
  color: $placeholder-text;
}
::-webkit-input-placeholder {
  color: $placeholder-text;
}
::-moz-placeholder {
  color: $placeholder-text;
}
:-ms-input-placeholder {
  color: $placeholder-text;
}
:-moz-placeholder {
  color: $placeholder-text;
}

// Default input label
label.input-label {
  display: block;
  margin-bottom: rem-calc(6px);
  margin-left: rem-calc(10px);
  color: $input-label-color;
  font-size: rem-calc(16px);
  font-weight: 400;
}

// Add clearfix styling to an element
.clearfix {
  @include clearfix();
}

.text-center {
  text-align: center;
}

// Override styles of mat-snack-bar
.mat-snack-bar-container {
  &.success {
    background-color: $success-color;
    color: white;

    button {
      color: white;
    }
  }

  &.error {
    background-color: $alert-color;
    color: white;

    button {
      color: white;
    }
  }

  &.warn {
    background-color: $warning-color;
    color: rgba(0, 0, 0, 0.87);

    button {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  &.info {
    background-color: $info-color;
    color: white;

    button {
      color: white;
    }
  }
}

// Modal styles
.modal {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: rem-calc(900px);
  height: 100%;
  overflow: auto;
  z-index: $zindex-modal;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  .modal__header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: rem-calc(22px) rem-calc(24px) rem-calc(18px);
    background: rgba(33, 33, 33, 0.98);
    border-bottom: 1px solid $gray800;
    z-index: $zindex-fixed;

    button.modal__close-btn {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    h4 {
      width: 100%;
      padding-right: rem-calc(54px);
      line-height: rem-calc(32px);
      margin-bottom: 0;
    }
  }

  .modal__content {
    padding: rem-calc(94px) 0 0;
  }

  .modal__footer {
    .submit-row {
      padding-right: rem-calc(24px);
      padding-left: rem-calc(24px);
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.98);
  z-index: $zindex-modal-backdrop;
}

.mat-toolbar.mat-primary {
  background-color: $primary-color;
}

@media only screen and (max-width: 700px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;

    .row {
      margin: 0;
    }
  }
}
