@import '../../../assets/styles/bootstrap/mixins/breakpoints';
@import '../../../assets/styles/imports/mixins';
@import '../../../assets/styles/imports/variables';

.flatpickr-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: rem-calc(30px);

  label {
    display: block;
    margin-bottom: rem-calc(6px);
    margin-left: rem-calc(10px);
    color: $input-label-color;
    font-size: rem-calc(16px);
    font-weight: $input-label-font-weight;
  }
}
